{{ define "main" }}
    <div class="container">
        <h1 class="title-list">{{ .Title }}</h1>

        <div class="desc-pg">
            <h3>You can cantact me to</h3>
            <div class="wrap-contact-page">
                <a href=""><i class="fa fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa fa-brands fa-telegram"></i></a>
            </div>
        </div>
    </div>
{{ end }}