<nav class="{{ if .IsHome }} nav-main {{ else }} sticky {{ end }}" >
    <h2 class="title-nav"><a href="/">Rie<o>tech</o></a></h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All Post</a></li>
        <li class="nav-categories">
            <p>Categories<i class="fa fa-solid fa-chevron-right"></i></p>
            <ul class="nav-list-categories">
                <li><a href="/categories/front-end">Front End</a></li>
                <li><a href="/categories/back-end">Back End</a></li>
                <li><a href="/categories/computer">Computer</a></li>
                <li><a href="/all-categories">See All</a></li>
            </ul>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="side-icons">
        <a href="https://github.com/ariear"><i class="fa fa-brands fa-github"></i></a>
        <i class="fa fa-solid fa-bars"></i>
    </div>
</nav>