@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    transition: .4s all ease;
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.sticky{
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    color: black;
    padding: 12px 0;
}
.sticky .title-nav a{
    color: black;
}
/* .nav-shadow{
    box-shadow: inset 0 65px 30px -20px rgba(0,0,0,0.9);
} */
.title-nav{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1.8px;
    transition: .2s all ease;
}
.title-nav:hover a{
    color: #47B5FF;
}
.sticky .title-nav:hover o{
    color: black;
}
.title-nav:hover o{
    color: white;
}
.title-nav a{
    color: white;
    text-decoration: none;
    transition: .2s all ease;
}
.title-nav o{
    font-weight: 500;
    color: #47B5FF;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0 80px;
}
nav ul li{
    margin: 0 20px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.9px;
    transition: .2s all ease;
    text-decoration: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: .2s all ease;
}
.sticky ul li a{
    color: black;
}
nav ul li a:hover{
    color: #47B5FF;
}
.nav-categories{
    position: relative;
}
.nav-categories i{
    transition: .3s all ease;
    margin-left: 7px;
}
.nav-categories:hover i{
    transform: rotate(90deg);
}
.nav-categories:hover .nav-list-categories{
    height: 140px;
    padding: 10px 0;
    bottom: -165px;
}
.nav-list-categories{
    transition: .3s all ease;
    width: max-content;
    position: absolute;
    left: -80px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    color: black;
    height: 0;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}
.nav-list-categories li{
    margin-bottom: 13px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 3px;
}
.nav-list-categories li a{
    color: black;
}

.side-icons i{
    margin-right: 15px;
    font-size: 30px;
}
.side-icons a{
    color: white;
}
.fa-github{
    transition: .2s all ease;
}
.fa-github:hover{
    color: #47B5FF;
}
.fa-bars{
    transition: .2s all ease;
    color: #47B5FF;
}
.sticky .fa-bars:hover{
    color: black;
}
.sticky .fa-github{
    color: black;
}
.sticky .fa-github:hover{
    color: #47B5FF;
}
.fa-bars:hover{
    color: white;
}

.wrap-header-img{
    box-shadow: inset 0 90px 70px -7px rgba(0,0,0,0.9);
}
.header-img{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
}


.main-content{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.left-main-content{
    width: 800px;
    padding-right: 20px;
    border-right: 2px solid lightgray;
}
.main-desc-category{
    width: max-content;
    color: #47B5FF;
    font-weight: 700;
    margin-bottom: 5px;
    transition: .3s all ease;
}
.main-desc-category:hover{
    color: black;
}
.main-desc-post{
    padding-right: 50px;
    margin-bottom: 45px;
}
.main-desc-post h1{
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0.9px;
    margin-bottom: 5px;
    transition: .3s all ease;
}
.main-desc-post h1:hover{
    color: #47B5FF;
}
.main-desc-slug{
    color: gray;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}
.main-desc-bottom{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
}
.main-desc-bottom i{
    transition: .3s all ease;
    font-weight: 800;
    color: #47B5FF;
}
.main-desc-bottom i:hover{
    color: black;
}
.main-desc-bottom i o{
    margin-left: 10px;
}
.main-desc-bottom p b{
    color: black;
    font-weight: 900;
}
.main-desc-bottom p{
    transition: .3s all ease;
    font-weight: 600;
    color: gray;
}
.main-desc-bottom p:hover{
    color: black;
}

.wrap-side-content{
    width: 400px;
    padding-left: 50px;
    margin-bottom: 45px;
}
.wrap-side-content h2{
    margin-bottom: 15px;
    font-weight: 800;
}
.card-side{
    display: flex;
    margin-bottom: 25px;
}
.card-side img{
    width: 85px;
    height: 85px;
    margin-right: 15px;
    border-radius: 6px;
}
.slug-card-side{
    transition: .2s all ease;
    font-weight: 700;
    margin-bottom: 7px;
}
.slug-card-side:hover{
    color: #47B5FF;
}
.author-card-side{
    transition: .2s all ease;
    width: max-content;
    font-weight: 700;
    color: gray;
}
.author-card-side:hover{
    color: black;
}
.author-card-side b{
    color: black;
    font-weight: 900;
}

.wrap-side-medsos{
    list-style: none;
    color: #47B5FF;
}
.wrap-side-medsos li i{
    width: 16px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid lightgray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: .3s all ease;
}
.wrap-side-medsos li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
}
.wrap-side-medsos li p{
    transition: .3s all ease;
    border-bottom: 1px dotted gray;
    padding-bottom: 10px;
    width: 60%;
}
.wrap-side-medsos li:hover p{
    color: black;
}
.wrap-side-medsos li i:hover{
    border-color: #47B5FF;
    color: black;
}

.wrap-card-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-post{
    width: 360px;
    margin-bottom: 80px;
    text-decoration: none;
}
.wrap-content-card-post:hover img{
    transform: scale(1.2);
}
.wrap-content-card-post h3{
    color: black;
}
.wrap-content-card-post:hover h3{
    color: #47B5FF;
}
.wrap-img-card-post{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
}
.wrap-img-card-post img{
    transition: .3s all ease;
    width: 100%;
    height: 210px;
    transform: scale(1.08);
    object-fit: cover;
    object-position: center;
}
.category-card-post{
    transition: .3s all ease;
    width: max-content;
    font-weight: 600;
    color: #47B5FF;
    letter-spacing: 0.9px;
    font-size: 14px;
    margin-bottom: 6px;
}
.category-card-post:hover{
    color: black;
}
.card-post h3{
    transition: .3s all ease;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}
.author-card-post{
    transition: .3s all ease;
    width: max-content;
    margin-bottom: 10px;
    color: gray;
    letter-spacing: 0.9px;
}
.author-card-post:hover{
    color: black;
}
.author-card-post b{
    color: black;
}
.slug-card-post{
    color: gray;
    letter-spacing: 0.4px;
    font-size: 14px;
}

.container{
    padding-top: 110px;
    width: 1200px;
    margin: auto;
}
.container img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
}
.desc-post{
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
}
.desc-post p{
    margin-bottom: 2px;
    color: #47B5FF;
    font-weight: 700;
    letter-spacing: 1.2px;
    transition: .3s all ease;
}
.desc-post p:hover{
    color: black;
}
.desc-post h1{
    font-size: 40px;
    letter-spacing: 0.5px;
}

.wrap-body{
    display: flex;
    justify-content: space-between;
}
.wrap-body aside:nth-child(1){
    width: 200px;
    text-align: center;
}
.wrap-body aside:nth-child(1) h2{
    transition: .3s all ease;
}
.wrap-body aside:nth-child(1) h2:hover{
    color: #47B5FF;
}
.date-post{
    color: gray;
    padding: 10px 0;
    margin: 15px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.list-tags-title{
    margin-bottom: 10px;
    font-weight: 700;
}
.list-tags{
    text-align: start;
}
.list-tags ul{
    list-style: none;
    display: flex;
}
.list-tags ul li{
    background-color: #47B5FF;
    padding: 5px 10px;
    margin-right: 5px;
    font-weight: 700;
    border-radius: 4px;
    font-size: 14px;
}
.list-tags ul li:hover a{
    color: black;
}
.list-tags a{
    transition: .3s all ease;
    color: white;
    text-decoration: none;
}
.wrap-body aside:nth-child(2){
    width: 80%;
    padding: 0 40px;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 28px;
}
.wrap-body aside:nth-child(3){
    width: 200px;
}
.wrap-body aside:nth-child(3) ul{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.wrap-body aside:nth-child(3) ul li{
    width: 10px;
    height: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 50%;
    transition: .3s all ease;
}
.wrap-body aside:nth-child(3) ul li:hover{
    border-color: #47B5FF;
    color: #47B5FF;
}


.title-list{
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1.2px;
}

.wrap-content-list{
    margin-bottom: 50px;
    display: flex;
}
.right-content-list{
    width: 450px;
    padding-left: 35px;
}
.right-content-list h2{
    margin-bottom: 10px;
}
.categories-right-content-list{
    margin-bottom: 25px;
}
.categories-right-content-list select{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-color: #47B5FF;
    color: #47B5FF;
    border-radius: 7px;
}
.text-all-cate{
    display: block;
    text-decoration: none;
    color: #47B5FF;
    font-weight: 700;
}

.left-content-list{
    border-right: 2px solid lightgray;
    flex-grow: 1;
    padding-right: 30px;
}

.left-content-list a{
    text-decoration: none;
    color: black;
}
.card-list{
    display: flex;
    margin-bottom: 40px;
}
.card-list img{
    margin-bottom: 0;
    transform: scale(1.07);
    transition: .3s all ease;
    width: 100%;
}
.card-list:hover img{
    transform: scale(1.2);
}
.desc-card-list{
    width: 80%;
}
.wrap-img-card-list{
    width: 450px;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
}
.card-list h2{
    width: max-content;
    margin-bottom: 10px;
    transition: .3s all ease;
}
.card-list h2:hover{
    color: #47B5FF;
}
.categori-card-list{
    color: #47B5FF;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .3s all ease;
    margin-bottom: 5px;
}
.categori-card-list:hover{
    color: black;
}
.ingfo-kecil-card-list{
    margin-bottom: 10px;
    color: gray;
    letter-spacing: 1.1px;
}
.ingfo-kecil-card-list b{
    color: black;
}
.excerpt-card-list{
    letter-spacing: 0.5px;
    font-weight: 500;
    color: gray
}

.wrap-list-categories{
    display: flex;
    flex-wrap: wrap;
}
.wrap-list-categories a{
    text-decoration: none;
    background-color: #47B5FF;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-right: 7px;
    margin-bottom: 10px;
    transition: .3s all ease;
}
.wrap-list-categories a:hover{
    background-color: #3b8fc7;
}